body {
    font-family:"Roboto",sans-serif;
    color:#434455;
    background-color:#ffffff;
}

img {
    display: block;
     max-width: 100%; 
   
}

h1
h2
h3
h4
h5
h6
p {
margin-bottom: 0;
margin-top: 0;
}


a {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    text-decoration: none;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}


.navigation {
 display: flex;
 align-items: center;
}


/* ==============================HEADER===================================================== */ 


.header {
    border-bottom: 1px solid #E7E9FC;
   justify-content: space-between;
   align-items: baseline;
   text-decoration: none;
 }

    .header-container {
     display: flex;
     align-items: center;
    }

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:#4d5ae5;
  font-family: Raleway,sans-serif;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
  text-decoration: none;


}


.navigation {
    display: flex;
    align-items: center;
   }
   
.logo-part {
    color:#2e2f42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }


.nav-list {
    flex-direction: column;
    background: #fff;
    text-align: center;
    line-height: normal;
    display: flex;
    flex-direction: row ;
    gap: 40px; 
}

.nav-link {
    color:#2e2f42;  
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;

}
.nav-link:hover, 
.nav-link:focus{
    color:#404BBF;


}
.address{
 font-style: normal;
 margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
    /* align-items: center;
} */


}
.contack-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
}

.contack-link:hover,
.contack-link:focus{
 color: #404bbf
}


.address-link:hover,
.address-link:focus{
    color:#404BBF;
}

/* ==================================================================== */

/* ========================HERO======================================== */

.hero {
    box-sizing: content-box;
 padding-top: 188px; 
 padding-bottom: 188px;
background-color: #2e2f42;
   
}
.hero-wrap {

 background-color: #2e2f42;
    

}

.header-hero {
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color:#fff;
max-width: 496px; 
margin: 0 auto;
padding-bottom: 48px;


}
.hero-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color:#fff;
background-color: #4d5ae5;
cursor:pointer;
font-family: "Roboto", sans-serif;
display: block; 
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
margin: 0 auto;
}
.hero-btn:hover,
.hero-btn:focus{
    background-color:#404BBF;
    color: #fff;
}


/* ================================================================== */
/* =========================FEATURES================================= */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.section-features {
 padding-top: 120px; 
 padding-bottom: 120px;

}
.list-features {
 display: flex;
 gap: 24px;

}

.list-item-features {
    width: calc((100% - 72px) / 4);
}
.headers-features {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42;
text-transform: capitalize;
margin-bottom: 8px
}
.text-features {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
}

/* ==================================================================== */
/* =======================OUR TEAM===================================== */

.our-team {
 background-color: #F4F4FD;
 padding: 120px 0;
}
.list-our-team {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.header-our-team {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color:#2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.list-item-team {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4); 
}
 
.team-work {
    border-radius: 0px 0px 4px 4px;
    padding-top: 32px;
    padding-bottom: 32px;
}

  
.name-team {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color:#2e2f42;
text-align: center; 
margin-bottom: 8px;
}
.team-specialty {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color:#434455;
text-align: center;
}

/* ================================================================================= */
/* =====================PORTFOLIO=================================================== */

.portfolio {
  padding: 120px 0 120px 0;
}

.header-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color:#2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px; 
}


.list-portfolio {
  display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px
}

.app-list {
  width: calc((100% - 48px) / 3);
}


.header-portfolio-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2e2f42;
  margin-bottom: 8px;
}

.portfolio-card {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}
.text-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;
}

/* ================================================================================= */
/* =========================FOOTER================================================== */

.footer {
    background-color: #2e2f42;
    padding-top: 100px; 
     padding-bottom: 100px;
  
}
.logo {
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#4d5ae5;
font-family: Raleway,sans-serif;
display: inline-block;
margin-bottom: 16px;

}
.logo-part-footer {
color: #f4f4fd;
}
.footer-caption {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#f4f4fd;
max-width: 264px;
}
/* ============================================================================== */