body {
  font-family:"Roboto",sans-serif;
  color:#434455;
  background-color:#ffffff;
}


img {
  display: block;
  max-width: 100%; 
   
}


h1
h2
h3
h4
h5
h6
p {
  margin-bottom: 0;
  margin-top: 0;
}


a {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  text-decoration: none;
}


ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}


.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}


.navigation {
  display: flex;
  align-items: center;
}


/* ==============================HEADER===================================================== */ 


.header {
  border-bottom: 1px solid #E7E9FC;
  justify-content: space-between;
  align-items: baseline;
  text-decoration: none;
  box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
 }


  .header-container {
  display: flex;
  align-items: center;
}


.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:#4d5ae5;
  font-family: Raleway,sans-serif;
  margin-right: 76px;
  text-decoration: none;
}


.navigation {
  display: flex;
  align-items: center;
}
  
   
.logo-part {
  color:#2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}


.nav-list {
  flex-direction: column;
  background: #fff;
  text-align: center;
  line-height: normal;
  display: flex;
  flex-direction: row ;
  gap: 40px; 
}


.nav-link {
  color:#2e2f42;  
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-link:hover, 
.nav-link:focus{
  color:#404BBF;
}


.current{
  position: relative;
  color: #404BBF;

}


.current::after{
  position: absolute;
  content: "";  
  background-color: #404BBF;
  border-radius: 2px;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: -1px;
}


.address{
  font-style: normal;
  margin-left: auto;
}


.address-list {
  display: flex;
  gap: 40px;
}


.contack-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.contack-link:hover,
.contack-link:focus{
  color: #404bbf
}


.address-link:hover,
.address-link:focus{
  color:#404BBF;
}

/* ==================================================================== */

/* ========================HERO======================================== */

.hero {
  box-sizing: content-box;
  padding-top: 188px; 
  padding-bottom: 188px;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg);
  background-size: cover;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center; 
  margin: 0 auto;
}


.header-hero { 
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color:#fff;
  max-width: 496px; 
  margin: 0 auto;
  padding-bottom: 48px;
}


.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:#fff;
  background-color: #4d5ae5;
  cursor:pointer;
  font-family: "Roboto", sans-serif;
  display: block; 
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hero-btn:hover,
.hero-btn:focus{
  background-color:#404BBF;
  color: #fff;
}


/* ================================================================== */
/* =========================FEATURES================================= */

.features-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
 

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.section-features {
  padding-top: 120px; 
  padding-bottom: 120px;
}


.list-features {
  display: flex;
  gap: 24px;

}


.list-item-features {
  width: calc((100% - 72px) / 4);
}


.headers-features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px
}


.text-features {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;
}

/* ==================================================================== */
/* =======================OUR TEAM===================================== */

.our-team {
  background-color: #F4F4FD;
  padding: 120px 0;
}


.list-our-team {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.list-our-ul{
  display: flex;
  justify-content: center;
  gap: 24px;
}

.list-our-li{
  width: 40px;
  height: 40px;
}

.our-a{
  width: 100%;
  height: 100%;
  background-color:#4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.our-a:hover{
  background-color: #404BBF;
}

.our-a:focus{
  background-color: #404bbf;
}

.our-svg{
  fill: #f4f4fd ;
}

.header-our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color:#2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}


.list-item-team {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4); 
}
 

.team-work {
  border-radius: 0px 0px 4px 4px;
  padding-top: 32px;
  padding-bottom: 32px;
}

  
.name-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color:#2e2f42;
  text-align: center; 
  margin-bottom: 8px;
}


.team-specialty {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color:#434455;
  text-align: center;
}

/* ================================================================================= */
/* =====================PORTFOLIO=================================================== */

.portfolio {
  padding: 120px 0 120px 0;
}


.header-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color:#2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px; 
}


.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  /* box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1); */

}

.list-portfolio:hover{
 
}

.portfolio-cover-wrap{
  position: relative; 
  overflow: hidden;
}

.portfolio-cover-text{
  position: absolute;
  top: 0;
  font-size: 16px; 
  line-height: 1.5; 
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  display: flex;
  align-items:center;
  height: 100%; 
  width: 100%;
  transform: translateY(100%); 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  margin: 0 auto;
}

.app-list {
  width: calc((100% - 48px) / 3);  
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.app-list:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 

}
.app-list:hover .portfolio-cover-text{
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 

}

.header-portfolio-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2e2f42;
  margin-bottom: 8px;
}


.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #E7E9FC;
  border-top: none;
 
}






.text-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;
}

/* ================================================================================= */
/* =========================FOOTER================================================== */

.footer-block-media{
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}


.footer-general-block{
  display: flex;
  align-items: baseline;
}


.footer-container-block{
  max-width: 264px;
   margin-right: 120px; 
 }


.logo-footer{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}



.footer-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;

}




.footer-header-icons{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

}


.footer-social-media{
  /* display: flex; */
  align-items: baseline;
}

.footer-ul{
  display: flex;
  gap: 16px;

}

.footer-inst{
  width: 40px;
  height: 40px;
}


.footer-svg {
  fill: #f4f4fd;
}


.footer-a {
  height: 40px;
  width: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-a:hover,
 .footer-a:focus{
  background-color:  #31d0aa;
}

.logo-part-footer{
  color: #FFFFFF;
}


.footer-email {
  padding-left: 80px;
}

.footer-email-header {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}


.footer-email-form {
  display: flex;
  gap: 24px;
}


.footer-input{
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff; 
  background-color: transparent; 
  font-size: 12px; 
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff; 
}

.placeholder {
  color #ffffff; 
}


.button-email-footer {
min-width: 165px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
background-color: #4D5AE5;
border: none; 
border-radius: 4px;
}


.footer-svg-subscribe {
  margin-left: 16px;
  fill: #fff;
}

/* ============================================================================== */
 /* ================================BACKDROP==================================== */
 .backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }


 .modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  background-color:  #fcfcfc;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }


 .modal-close {
  position: absolute;
  top: 24px;
  width: 24px;
  right: 24px;
  height: 24px;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);  
 }


 .modal-close:hover {
  background-color: #404bbf;
  border: none;
  fill:#ffffff; 
 }


 .modal-close:focus {
  background-color: #404bbf;
  border: none; 
  fill: #ffffff;
 }


 .modal-icon-close {
  /* fill: #2e2f42; */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }




 .modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  /* margin-top: 80px; */
  margin-bottom: 16px;
 }


 .modal-field {
  margin-bottom: 8px;
 }

 .modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  margin-bottom: 8px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }


 .modal-input:focus {
  border-color: #4D5AE5;
  fill: #ffffff;
 }


 .modal-input:focus + .modal-icon {
  fill: #4D5AE5; 
  /* fill: #ffffff; */
 }

 .modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
 }


 .modal-imput-wrap {
  position: relative;
 }

 .modal-icon {
  position: absolute;
  fill: #2e2f42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 }

.modal-input:focus + .modal-icon {
  fill:  #4D5AE5;
}


 .textarea-backdrop {
  margin-bottom: 16px;
 }


 .textarea-user {
  width: 100%;
  height: 120px;
  font-size: 12px; 
  line-height: 1.17; 
  letter-spacing: 0.04em; 
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px; 
  background-color: transparent;
  padding: 8px 16px; 
  outline: transparent;
  resize: none; 
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 }


 .textarea-user:focus {
  border-color: #4D5AE5;
 }

 /* ============================CHECKBOX==================== */

 .checkbox-field {
  margin-bottom: 24px;
 }

 .check-text {
  font-size: 12px; 
  line-height: 1.17; 
  letter-spacing: 0.04em; 
  color: #8e8f99; 
 }


 .span-privacy {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent; 
 }


 .input-checkbox:checked + .span-privacy {
  background-color:  #404bbf; 
  border: none;
  fill: #F4F4FD;
 }


 .check-link {
 color: #4d5ae5;
 }

 .button-send {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 


 }